<ul>
    <li>
        <a href="#">Consectetur adipiscing elit fusce vel.</a>
    </li>
    <li>
        <a href="#">Sapien elit in malesuada semper.</a>
    </li>
    <li>
        <a href="#">Mi, id sollicitudin urna fermentum.</a>
    </li>
    <li>
        <a href="#">Ut fusce varius nisl ac.</a>
    </li>
    <li>
        <a href="#">Ipsum gravida vel pretium tellus.</a>
    </li>
</ul>
