
<h2 style="color:crimson">Bu linkler partialview ile oluşturuldu</h2>
<h2 style="color:crimson">Hem index hemde nestedLayut içinde kullanılacaklar</h2>

<ul style="color:crimson">
    <li>Dolor sit.</li>
    <li>Amet, consectetur.</li>
    <li>Adipiscing elit.</li>
</ul>