
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<div class="col-md-12">
    <input type="text" placeholder="index sayfasının içeriğiyim" />

</div>

@section Links{
    <li><h5>Login(Burası index'ten gelip Layout1 e yerleşen section)</h5></li>
}