@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="style=height:100px; border:1px solid black; margin:3px;">
    @RenderBody()
</div>
<div class="style=height:100px; border:1px solid black; margin:3px;">
    footer
</div>
