@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<li>
    <a href="#">login </a>
</li>

<div style="display:inline; color:brown">
    Burası nested layout alnının bir parçası-SIDEBAR
</div>
<div style="display:inline;color:darkblue">
    @RenderBody()
</div>

