
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataForSecond</title>
</head>
<body>
    <div> 
        Yanda görülen  data bir view'dan action'a gönderilerek 2. kez kullanılıyor: @TempData["text3"]
    </div>
</body>
</html>
