
@{
    ViewBag.Title = "İndex";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<ul>
    <li><a href="@Url.Action("LiLiLayout2Kullanacak")">LiLiLayout2Kullanacak</a></li>
    <li><a href="@Url.Action("LiSizLayout2Kullanacak")">LiSizLayout2Kullanacak</a></li>
</ul>

