
@{
    ViewBag.Title = "LiLiLayout2Kullanacak";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>LiLiLayout2Kullanacak</h2>

<div class="style=height:100px; border:1px solid black; margin:3px;">
    body kısmı, view den geliyor. bunda login çıkmasını bekliyoruz
</div>
<div class="style=height:100px; border:1px solid black; margin:3px;">
    footer
</div>


