@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block2" style="width:600px;">
    @RenderBody()
</div>

<div class="block2" style="width:300px; margin-left:20px;">
    burası nestedLayout alanından gelen sidebar ve NestedLayouttan türeyen her sayfada bulunacaktır.
</div>


